@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1E2127;
}

::-webkit-scrollbar-thumb {
    background: #61AFEF20;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #61AFEF40;
}